.classpath.txt
target
.classpath
.project
.idea
.settings
.vscode
*.iml
.lambda_output
lambda_output
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

